.drums {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  height: 70%;
  opacity: 1;
  animation: fadeIn 3s;

  &__title {
    font-size: 2.5em;
    font-weight: 400;
  }

  &__kit-select {
    width: 200px;
    height: 30px;
    padding: 5px;
    color: #fff;
    background-color: #470064;
    border: none;
  }
}

.drum-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  // height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
